extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  h1= title
  if user
    h2= `hello ${user.username}`
  div
    nav
      a(href='/users/login') login
      a(href='/users/signup') sign up
      form(action="/users/logout", method="post")
        button logout
      form(action="/users/login/demo", method="post")
        button demo
