extends index.pug

block page
        link(rel='stylesheet' href='/stylesheets/all-shows.css')
        table#table_head
            tbody#table_body
                each show in shows
                    tr
                        td
                            a(class="showName-text" href=href=`/shows/${show.id}`)
                                img(#show_pic src=`${show.imageSrc}`, alt="show pic",  width="206", height="305")
