extends index.pug

block page
        link(rel='stylesheet' href='/stylesheets/all-shows.css')
        a(id="addshow-btn" href='/shows/add') Add a Show
        table#table_head
            tbody#table_body
                each show in shows
                    tr
                        td
                            img(#show_pic src=`${show.imageSrc}`, alt="show pic")
                        div#showName
                            td= show.name
                            td
                                a(#showPage href=`/shows/${show.id}`) Show Page
