doctype html
html
  head
      block head
        title="Goodwatch"
        link(rel='stylesheet' href='/stylesheets/reset.css')
        a(href='/') Home
  body

    .watchListContainer
        p(id='wantsToWatch') Wants to watch: (<span class='wantsToWatchCount'>#{0})
        p(id='hasWatched') Has Watched: (<span class='hasWatchedCount'>#{0})
        p(id='currently') Currently watching: (<span class='currentlyCount'>#{0}) 

        block content
