doctype html
html
  head
      script(src='/javascripts/index.js' type='module')
      block head
        title="Goodwatch"
        link(rel='stylesheet' href='/stylesheets/reset.css')
        a(href='/') Home
        form(action="/shows/search" method="post")
          input(type="text", placeholder="search for shows", name="name")
          button search

  
  body

        block content
