doctype html
html
  head
      script(src='/javascripts/index.js' type='module')
      block head
        title="Goodwatch"
        link(rel='stylesheet' href='/stylesheets/reset.css')
        a(href='/') Home

  body

    .watchListContainer
        p Wants to watch: <span id='wantsToWatchCount'>0
        p Has Watched: <span id='hasWatchedCount'>0
        p Currently watching: <span id='currentlyCount'>0 

        block content
