extends layout

include utils.pug

block content

    link(rel='stylesheet' href='/stylesheets/signup.css')
    #signUpForm
        +validationErrorSummary(errors)
        form(action="/users/signup", method="post" id="signUpForm")
            input(type="hidden", name="_csrf", value=csrfToken)
            +field('Username: ', 'username')
            +field('Email: ', 'email')
            +field('Password: ', 'password', password, 'password')
            +field('Confirm Password: ', 'confirmPassword', password, 'password')
            div(class="auth_action_btns")
                button submit
                a(href='/' class="cancel_btn") Cancel
