extends index

block page
    h1= 'My Watchlists'

    ul.watchlist-ul
        for list in watchlists
            li
                a(href=`/watchlists/${list.id}`)= list.name
    button.add-watchlist add

    ul
        for list in watchlistsArr
            for show in list
                li
                    a(href=`/shows/${show.id}`)= show.name
                li
                    image(src=`${show.imageSrc}`)
