h1 {
    display: flex;
    justify-content: center;
    padding: 20px 0 0 0;
    color: black
}
h2{
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.shows{
    display: flex;
    justify-content: center;
    color: black;
    padding: 5px;
}

a{
    padding: 2px;

}
.main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 25px;
    border: solid black;

}


#recommended-container{
    /* display: flex; */
    align-items: center;
    justify-content: center;
    flex-direction: row;
    
}
    



.genre-container{

    padding: 20px;


}

.genre-name{
    display: flex;
    justify-content: space-around;
    font-size: 25px;
}
.showName-text{
    bottom: 20px;

}

.watch{
    display: flex;
}

.watchlist{
    width: 800px;
}

.watchshow{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    
}

.watchshow > h2{
    left: 50%;
}
