h1 {
    display: flex;
    justify-content: center;
    padding: 20px 0 0 0;
    color: black
}

.shows{
    display: flex;
    justify-content: center;
    color: black;
    padding: 5px;
}

a{
    padding: 2px;

}
.main{
    display: flex;
    justify-content: space-between;
}

#recommended-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

}

.genre-container{

    padding: 20px;


}

.genre-name{
    font-size: 25px;
}
.showName-text{
    bottom: 20px;

}
