/* #navbar {
    background-color: #d3ff59;
    opacity: 0.5;
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    border-bottom: #ccc solid 0.5px;
} */

#navbar_div {
    position: relative;
    display: flex;
    background-color: #f4f1ea;
    align-items: center;
    justify-content: space-between;

}

#home-btn{
    font-weight: bold
};

.browse-btn{
    font-weight: bold
};

.my-watchlist-btn{
    font-weight: bold;
}

#userId {
    color: slategray;
}

#showId {
    color: slategray
}


#search_input {
    padding-left: 50px;
    padding-right: 50px;
}

#search_input::after{
    border: white 1px solid;
}

.nav_link{
    font-size: 15px;
}

.nav_link:hover{
    font-weight: bold;
}

/* #logout_btn{
    padding: 5px;
    background-color: transparent;
} */

.demo_btn{
    
}
