#show-details-container {
    background-color: rgb(133, 148, 163);
    position: relative;
    left: 25px;
    top: 75px;
    display: flex;
}

.show-details{
    padding-left: 20px;
    background-color: rgb(133, 148, 163);
}

.title{
    background-color: rgb(133, 148, 163);
    font-weight: bold;
    font-size: 20pt;
}

.show-title-label{
    background-color: rgb(133, 148, 163);
    font-weight: bold;
    font-size: 24pt;
}

.overallRating {
    background-color: rgb(133, 148, 163);
    font-size: 14pt;
}

.show-rating-label{
    background-color: rgb(133, 148, 163);
    font-weight: bold;
    font-size: 14pt;
}

.genre{
    background-color: rgb(133, 148, 163);
    font-size: 14pt;
}

.show-genre-label{
    background-color: rgb(133, 148, 163);
    font-weight: bold;
    font-size: 14pt;
}

.description {
    background-color: rgb(133, 148, 163);
    width: 500px;
    font-size: 14pt;
}

.show-summary-label{
    background-color: rgb(133, 148, 163);
    font-weight: bold;
    font-size: 16pt;
}

/* ----- add to watchlist  */

#add-to-watchlist-container{
    background-color: rgb(133, 148, 163);
    /* border: solid oldlace; */
    position: relative;
    left: 247px;
    top: 59px;
}

.watchlist-secion-text{
    background-color: rgb(133, 148, 163);
    font-weight: bold;
}

.watchlist-ul{
    background-color: rgb(133, 148, 163);
    list-style-type: none;
}

.appended-watchlists{
    background-color: rgb(133, 148, 163);
}

/* ----- reviews section */

#user-reviews-container{
    /* border: solid oldlace; */
    padding-top: 5px;
    border: rgb(95, 106, 117);
    background-color: rgb(133, 148, 163);
    position: relative;
    left: 247px;
    top: 59px;
}

#reviews-container{
    background-color: rgb(133, 148, 163);
    position: relative;
}

.reviews-section-label{
    background-color: rgb(133, 148, 163);
    font-weight: bold;
}

.show-review-display{
    background-color: rgb(133, 148, 163);
}

.show-rating-display{
    background-color: rgb(133, 148, 163);
}

#review-textarea-box{
    left: 50px;
}
